@using AsisPas.DTO;
@model IEnumerable<EmpresaDTO>

@{
    ViewBag.Encabezado = ViewData["Title"] = "Listado De Empresas";
    ViewBag.EmpresaListActive = "active";
    ViewBag.EmpresaMenu = "open";
    ViewBag.ActiveEncabezado = true;
}

<div class="row">
    <div class="col-12">
        <div class="card">

            hola cocacola
            </div>
        </div>           
  </div>