./.vs/*
./AsisPas/bin/*
./AsisPas/obj/*
./AsisPas/Properties/*
.vs/*
./ScriptAsDatabase/conecctionStrigAWS.txt
AsisPas/bin/*
AsisPas/obj/*
AsisPas/Properties/*
AsisPas/wwwroot/documentos/descargables
AsisPas/wwwroot/documentos/pdf
AsisPas/wwwroot/fotos/*
ScriptAsDatabase/conecctionStrigAWS.txt
