@using AsisPas.DTO;
@model UserEmpleado_in


@{
   ViewBag.Encabezado = ViewData["Title"] = "Nuevo Empleado";
    ViewBag.EmpListActive = "active";
    ViewBag.UsuarioMenu = "open";
    ViewBag.ActiveEncabezado = true;
    string mensaje = ViewBag.Err;
}



<div class="row">
    <div class="col-md-12">
        <form asp-action="GuardarEmpleado" method="post">
            <div class="card">
            
                <div class="card-body">
                    @if (mensaje != " " && mensaje != "" && mensaje != null)  
                    {
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                            <strong>Mensaje: </strong> @mensaje
                        </div>
                    }
                    
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>           

                     <div class="row">
                       <div class="form-group col-md-4">
                            <label asp-for="Empresaid" class="control-label"></label>
                             <select asp-for="Empresaid" class="form-control" asp-items="@ViewBag.Empresas"></select>
                            <span asp-validation-for="Empresaid" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-4">
                            <label asp-for="Password" class="control-label"></label>
                            <input asp-for="Password" class="form-control text-to-upper-alau" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                          <div class="form-group form-check col-md-4 text-center mt-2">
                            <label asp-for="Articulo22" class="form-check-label">
                               <input class="form-check-input" asp-for="Articulo22" />  Articulo 22
                            </label>
                        </div>

                     </div>
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label asp-for="Nombres" class="control-label"></label>
                            <input asp-for="Nombres" class="form-control text-to-upper-alau" />
                            <span asp-validation-for="Nombres" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-4">
                            <label asp-for="Apellidos" class="control-label"></label>
                            <input asp-for="Apellidos" class="form-control"/>
                            <span asp-validation-for="Apellidos" class="text-danger"></span>
                        </div>

                        <div class="form-group col-md-4">
                            <label asp-for="Rut" class="control-label"></label>
                            <input asp-for="Rut" class="form-control text-to-upper-alau" />
                            <span asp-validation-for="Rut" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-6">
                            <label asp-for="Email" class="control-label"></label>
                            <input asp-for="Email" class="form-control text-to-upper-alau" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label asp-for="telefono" class="control-label"></label>
                            <input type="number" asp-for="telefono" class="form-control"/>
                            <span asp-validation-for="telefono" class="text-danger"></span>
                        </div>

                        
                    </div>

                    
                </div>

                <div class="card-footer form-group text-center m-0">
                    <input type="submit" value="Guardar" class="btn btn-danger rounded-pill" />
                </div>

            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}