@model ErrorViewModel
@{
    ViewData["Title"] = "Error Page";
    ViewBag.Encabezado = "upps!!";
}

<div class="text-center">
    <h1 class="display-4">Algo Ha Salido mal</h1>
    <p>al parecer esta acción no se encuentra en funcionamiento, por favor intente luego...</p>
    <hr />
    <p>Si el problema persiste comuníquese con <a href="automatismoslau.cl">Nosotros</a></p>
</div>
